# Python
companion/.venv/
companion/__pycache__/
companion/*.pyc

signing_wip/*
ir example/*

a.out

# Build artifacts
build/
*.gb
*.map
*.sym
*.noi
*.ihx
*.lk
*.adb
*.rel

# Temporary files
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

#gbdk tools
/gbdk/

/test/mnemonic_to_address